@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

#main-title {
  font-family: 'VT323', monospace;
  font-size: 4em;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

#display {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 2.5em;
  border: 1px solid var(--primary-color);
  height: 2.6em;
  margin-bottom: 5px;
}

#calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  margin: 5px;
  padding: 30px 40px;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
  font-size: 2.3em;
}

.btn:hover {
  background-color: rgb(230, 230, 230);
}

.btn:active {
  background-color: rgb(150, 150, 150);
}